/*


	My Rotonde Layout

	@zachkrall
	dat://9a1b59963085cdc9edd8fbb89e73c6b4f573fcf188e68d55b2faa3855520b815


*/
body{

	background:#fff;

	font-family:"Helvetica Neue",Arial,sans-serif;
	font-size:12pt;
	line-height:15pt;
	letter-spacing:0.5pt;

}

body #operator {
	margin-top:35px;
	background:#fff;
	color:#212121;

	border:0;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	padding-bottom:20px;
}
body #operator #icon{
	background:#fff;
	border-radius:3px;
}
body #operator textarea::-webkit-scrollbar {
    display: none;
}
body #operator #wrapper,
body #operator #wrapper #commander,
body #operator #wrapper #rune{
	background:#eee;
	color:#1a1b1a;
	font-size:0.85rem;letter-spacing:0.5pt;
}
body #operator #wrapper #commander::placeholder{
	color:#1a1b1a;
}

#tabs{
	background:#fff!important;
	position:absolute;
	top:0!important;left:0!important;
	z-index:999;
	width:100%;

	padding-top:0!important;
}
#tabs t{
	padding:13px 15px 0 0!important;
}
#tabs t#tab_discovery{
	padding:13px 0 0 0!important;
}

#tabs_wrapper{
	margin-top:80px;
}
div.entry{
	margin-bottom:2rem!important;
}
div.entry:hover{
	background:#eee!important;
	border-radius:10px;
}
t.portal a:hover{
	text-decoration:underline!important;
}

code{
	background:#eee!important;
	color:#1a1b1a!important;
}


body #status{
	background:#333;
	color:#1a1b1a;
}
body #status a{
	/* color:#1a1a1a; */
}
body #status > list::-webkit-scrollbar{
	display:none;
}
